# Dataset & Model
vehicles-2/
*.pt
*.weights
*.onnx

# Output
*.mp4
*.avi
runs/
output_*/
crossing_log*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment
.env
venv/
env/

# OS
.DS_Store
Thumbs.db
desktop.ini
